<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Micrsosoft.Practices.Unity.Configuration., Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <!-- Begin unity section -->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ITravelService" type="TravelAgency.ITravelService, TravelAgency" />
    <alias alias="TravelService" type="TravelAgency.TravelService, TravelAgency" />
    
    <alias alias="IOnVacation" type="OnVacation.IOnVacation, OnVacation" />
    <alias alias="Decameron" type="Decameron.IDecameron, Decameron"/>

    <alias alias="ITravelService" type="TravelService.ITravelService, TravelService" />
    <alias alias="TravelServiceImp" type="TravelService.TravelService, TravelService"/>

    <container name="Agencies">
      <register type="IOnVacation" mapTo="OnVacation"/>
      <register type="IDecameron" mapTo="Decameron"/>
    </container>
  </unity>
  <!--End unity section-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>